.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  background-color: white;
  padding: 0 0 10%;
  text-align: center;
  border-radius: 70px;
}

.box p {
  margin-top: 40px;
  width: 90%;
}

@media (max-width: 1023px) and (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
